@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.background-image {
    background-image: url("https://media.istockphoto.com/id/1385658360/photo/beautiful-hills-and-mountains-colored-of-shades-of-blue-extending-up-to-the-horizon-at.jpg?s=612x612&w=0&k=20&c=NwQHbf9n8R0sZ-pItUdu6kskH6R-17DtOY8ZwACNSD0=");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
}

.gallery-container {
    width: 10px;
}
