@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.background-image {
    background-image: url("https://media.istockphoto.com/id/1385658360/photo/beautiful-hills-and-mountains-colored-of-shades-of-blue-extending-up-to-the-horizon-at.jpg?s=612x612&w=0&k=20&c=NwQHbf9n8R0sZ-pItUdu6kskH6R-17DtOY8ZwACNSD0=");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
}

.main-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.locations-container {
    padding-top: 100px;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.locations-box-container {
    display: flex;
    flex-direction: row;
    padding-bottom: 100px;
}

.locations-image-container {
    width: 50%;
}

.locations-image {
    border-radius: 10px 0 0 10px; /* Adjust the radius as needed */
}

.locations-text-container {
    background-color: #374892;
    color: white;
    width: 50%;
    border-radius: 0 10px 10px 0; /* Adjust the radius as needed */
}

.text-h1 {
    width: 100%;
    padding: 10px;
    font-weight: 500;
    font-size: 20px;
}
.text-h2 {
    width: 100%;
    padding: 10px;
    font-weight: 400;
    font-size: 17px;
}
.text-h3 {
    width: 100%;
    padding: 10px;
    font-weight: 200;
    font-size: 15px;
}
